PORT=3000

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=your_mongodb_password
MONGO_DATABASE=touchgrass

MONGODB_URI=mongodb://admin:your_mongodb_password@localhost:27017/touchgrass?authSource=admin

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES_IN=15m